asgiref==3.8.1
distlib==0.3.8
filelock==3.13.4
gunicorn==23.0.0
hiredis==3.2.1
msgpack==1.1.0
packaging==25.0
platformdirs==4.2.0
redis==6.2.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.25.1
whitenoise==6.9.0
